/*-------------------------------------------
#Styles Généraux
---------------------------------------------*/
.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 5px -2px black;
  padding-right: 25px;
  padding-left: 0px;
}

footer {
  background-color: #3b5fb1;
  box-shadow: 0 -4px 20px -5px black;
  padding: 1rem;
  margin: 1rem 0 0 0;
  color: #ffffff;
}
.navbar-expand-sm .navbar-collapse {
  flex-basis: auto;
  display: flex;
  justify-content: flex-end;
}
.col-6 {
  flex-basis: auto;
  display: flex;
  justify-content: center;
}
body {
  background-color: #0d82e12c;
  height: 1695px;
  width: 100vw;
}

.form-control-lg {
  box-shadow: 0 15px 40px 0px black;
  min-height: calc(1.5em + (1rem + 2px));
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 233.3rem;
}
.form-control-lg {
  font-family: "Abeatbykai";
}
.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}
.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-lg {
  position: absolute;
  box-shadow: 0 5px 8px -5px black;
  min-height: calc(1.5em + (1rem + 2px));
  padding: 0.5rem 1rem;
  font-size: 13px;
  border-radius: 233.3rem;
}

.bi-search {
  position: relative;
  top: 4px;
  left: -5px;
  font-size: 20px;
  padding: 0 15px 0 15px;
  color: #347add;
}
ul {
  padding: 0;
}

li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.tim {
  display: flex;
  justify-content: space-between;
}
.second {
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
}
.navbar .container-fluid {
  display: flex;
  width: 414px;
  align-items: flex-start;
  height: 73px;
  justify-content: space-between;
}
.profil {
  vertical-align: middle;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 5px;
}

.logo {
  position: relative;
  top: -40px;
  width: 150px;
  height: 150px;
}
.navbar-toggler {
  line-height: 3;
  color: #118de3;
  background-color: transparent;
  border: var(--bs-border-width) none var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}
.navbar-toggler-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  vertical-align: middle;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

main {
  padding-top: 100px;
}
footer {
  position: relative;
  bottom: -100px;
  font-size: 12px;
  text-align: center;
  padding: 20px 16px 20px 16px;
}
.filtres {
  overflow: hidden;
}

.card {
  background-color: white;
  border: none;
  width: 100%;
  height: 300px;

  border-radius: 17px;
  text-align: center;
}
.card:hover {
  background-color: rgb(177, 209, 249);
}
.card img {
  height: 20vh;
  object-fit: contain;
  object-position: center;
}
.overflow {
  overflow: hidden;
}
.fs-6 {
  font-size: 10px !important;
}
.card-text {
  margin-bottom: 5px;
}
.d-flex img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #212529;
}
.bi-chevron-right {
  color: #118de3;
}
#cards {
  width: 140%;
  overflow-x: hidden;
}
#other .card {
  width: 376px;
  height: 250px;
}
#other .card img {
  height: 20vh;
  object-fit: fill;
  object-position: center;
}
#other .d-flex img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #212529;
}
a {
  color: #212529;
  text-decoration: none;
}
/*-----------------1221--------------------------
#Section hero
---------------------------------------------*/ ;
